<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<add name="MiConexionBD" connectionString="Data Source=polideportivog3analisis.database.windows.net;Initial Catalog=polideportivog3;User ID=adminsql1;Password=Grupo3analisis;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>